span{
    display: flex;          
   }
   .icon{
       position: fixed;
       bottom: 25px;
       right: 10px;
      

 
   }
 #fb:hover{
     box-shadow: 7px 7px 10px blue;
     border: 2px solid blue;


}
#tw:hover{
     box-shadow: 7px 7px 10px skyblue;
     border: 2px solid skyblue;


}
#ins:hover{
     box-shadow: 7px 7px 10px tomato;
     border: 2px solid tomato;


}
   p{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   p{
       margin: 0px;
       padding: 0px;
   }
   .dark-theme{
        background-color: cyan;
        color: black;
    }
    .light-theme{
        background-color: orange;
        color: black;
    }
    .type{
    
       display: flex;
       align-items: center;
       justify-content: center;
   
    }
    hr{
        color: tomato;
        border: 2px solid tomato;
    }
